{% extends "core/base.html" %}

{% block content%}
    <div class="bg-dark text-light login-carg">

      <!-- ======= Breadcrumbs Section ======= -->
        <section class="breadcrumbs">
            <div class="container">

                <div class="d-flex justify-content-between align-items-center">
                    <h2>RECORDS</h2>

                </div>

            </div>
        </section><!-- End Breadcrumbs Section -->

        <section class="inner-page align-items-center">
            <form method="POST" class="post-form" action="/user_items">
                {% csrf_token %}
                <div class="form-group row">
                    <label class="col-sm-1 col-form-label"></label>
                    <div class="col-sm-4">
                        <h3>Enter Item Details : </h3>
                    </div>
                </div><br>


                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Item Name :</label>
                    <div class="col-sm-4">
                        {{ form.item_name }}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Price per Unit :</label>
                    <div class="col-sm-4">
                        {{ form.price_per_unit }}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Item Quantity :</label>
                    <div class="col-sm-4">
                        {{ form.quantity }}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Category id :</label>
                    <div class="col-sm-4">
                        {{ form.cat_gar_id }}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Category Name :</label>
                    <div class="col-sm-4">
                        {{ form.category_name_id }}
                    </div>
                </div>


                <div class="form-group row">
                    <label class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-4">
                        <button type="submit" class="btn btn-secondary">Submit</button>
                    </div>
                </div>
            </section>

        </div><!-- End #main -->
{% endblock content %}


