
{% extends 'core/base.html' %}
{% block content %}

  <div id="bg-dark login-card">


      <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>RECORDS</h2>

        </div>

      </div>
    </section><!-- End Breadcrumbs Section -->
    <section class="inner-page align-items-center">
      <div class="container">
        <div >




          <table class="table table-stripped table-bordered table-sm">
            <thead class="thead-dark">
              <tr>

                <th>Year</th>
                <th>Month</th>
                <th>Sales</th>
                <th>Profit</th>
                <th>Category ID</th>
                <th>Category name</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for profit_sales in things1 %}
                <tr>

                  <td>{{ profit_sales.year}}</td>
                  <td>{{ profit_sales.month}}</td>
                  <td>{{ profit_sales.sales}}</td>
                  <td>{{ profit_sales.profit}}</td>
                  <td>{{ profit_sales.cat_sales}}</td>
                  <td>{{ profit_sales.catgars_name}}</td>
                  <td>
                    <a href="/delete_catsales/{{ profit_sales.id }}"><span class="btn btn-outline-primary btn-sm">Delete</span> </a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          <center><a href="/user_catsales" class="btn btn-primary">Add New Record</a></center>
        </div>

      </section>

    </div>
{% endblock content %}
