{% extends 'core/base.html' %}
{% block content %}

  <div id="bg-dark login-card">

      <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>RECORDS</h2>

        </div>

      </div>
    </section><!-- End Breadcrumbs Section -->
    <section class="inner-pag align-items-center">
      <div class="container">
        <div >




          <table class="table table-stripped table-bordered table-sm">
            <thead class="thead-light">
              <tr>

                <th>Item Name</th>
                <th>Price per Unit</th>
                <th>Quantity</th>
                <th>Category Name</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for shop_item in things %}
                <tr>
                  <td>{{ shop_item.item_name}}</td>
                  <td>{{ shop_item.price_per_unit}}</td>
                  <td>{{ shop_item.quantity}}</td>
                  <td>{{ shop_item.category_name_id }}</td>
                  <td>
                    <a href="/delete_items/{{ shop_item.id }}"><span class="btn btn-outline-warning btn-sm">Delete</span> </a>
                  </td>
                </tr>

              {% endfor %}
            </tbody>
          </table>
          <center><a href="/user_items" class="btn btn-secondary">Add New Record</a></center>
        </div>

      </section>

    </div>
{% endblock content %}

