{% extends "core/base.html" %}

{% block content %}

  <div>
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
      <div class="container">
        <div class="row gy-4">
          <div
            class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center"
          >
            <h1>Shop Inventory Management</h1>
            <h2>Add Your Records Now!!!</h2>
            <div>
              <a href="/user" class="btn-get-started scrollto">Add Records</a>
            </div>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 hero-img">
            <img
              src="/static/assets/img/hero-img-green.svg"
              class="img-fluid animated"
              alt=""
            />
          </div>
        </div>
      </div>
    </section>
    <!-- End Hero -->

    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
    ><i class="bi bi-arrow-up-short"></i
      ></a>
    </div>
{% endblock %}
