{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    <title>Shop Inventory Management</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

        <!-- Favicons -->
    <link href="/static/s.png" rel="icon">
         <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">

 <!-- Vendor CSS Files -->
    <link href="/static/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="/static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

 <!-- Template Main CSS File -->
    <link href="/static/assets/css/style.css" rel="stylesheet">



  </head>

  <body class=" overflow-x-hidden font-body"
        data-aos-easing="ease-in-out"
        data-aos-duration="1000"
        data-aos-delay="0"

  >
    <header id="header" class=" d-flex align-items-center">
      <div class="container d-flex align-items-center justify-content-between">

        <div class="logo">
          <h1 class="text-light"><a href="index.html"><span>Shop Inventory Management</span></a></h1>
        </div>

        <nav id="navbar" class="navbar">
          <ul class="relative flex align-items-center justify-_content-around w-3/6 list-none">
            {% if user.is_authenticated %}
              <li class="dropdown"><a><span>R E C O R D S</span><i class="bi bi-chevron-down"></i></a>
                <ul>
                  <li><a href="/show">Category Records</a></li>
                  <li><a href="/show_items">Item Records</a></li>
                  <li><a href="/show_catsales">Sales Records</a></li>
                </ul>
              </li>
            {% endif%}
            {% if user.is_authenticated and user.is_superuser %}
              <li class="dropdown">
                <a
                ><span>A D M I N CMD</span><i class="bi bi-chevron-down"></i
                  ></a>
                  <ul>
                    <li><a href="/update-profile">Update profiles</a></li>
                    <li><a href="/register">Register User</a></li>
                  </ul>
                </li>
            {%else%}

              <li></li>

            {%endif%}
            {% if user.is_authenticated %}
              <li class="text-alert"><a  href="{% url 'logout'%}">Logout</a></li>
            {% else %}
              <li class=""><a  href="{% url 'login'%}">Login</a></li>
            {% endif%}
          </ul>
        </nav>
      </div>
    </header><!-- End Header -->

    {% if messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {% for message in messages %}
          {{ message }}
        {% endfor %}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endif %}
    <main class="">
      {% block content %}
        <!-- for childs -->
      {% endblock content %}
    </main>
    <!-- ======= Footer ======= -->
    <footer id="footer" class="fixed-bottom ">
      <div class="container py-4">
        <div class="copyright">
          © Copyright <strong><span>ADRIAN</span></strong
            >. All Rights Reserved
          </div>
        </div>
      </footer>
    <!-- End Footer -->

    </body>
    <script>
      const showChange =(e)=>{
        let span = document.querySelector('.currSpan')
        let alert = document.querySelector('.alert')
        if (span){
          span.innerHTML = `${e.target.value}`
        }
        if(alert) alert.innerText = ""

        if ( e.target.value<=0){
          alert.innerText = "Invalid value."
        }
      }
      let sn = document.querySelectorAll('.sn')
      if (sn){
        sn.forEach((elem,id)=>elem.innerHTML=`${id+1}`)
      }
    </script>
  </html>
